@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Lato";

  font-display: swap;
  src: url("assets/fonts/Lato/lato-light-webfont.woff2") format("woff2"), url("assets/fonts/Lato/lato-light-webfont.woff") format("woff");
}

/* Regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("assets/fonts/Lato/lato-regular-webfont.woff2") format("woff2"), url("assets/fonts/Lato/lato-regular-webfont.woff") format("woff");
}

/* Bold */
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src: url("assets/fonts/Lato/lato-bold-webfont.woff2") format("woff2"), url("assets/fonts/Lato/lato-bold-webfont.woff") format("woff");
}

/* Black */
@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Lato";

  font-display: swap;
  src: url("assets/fonts/Lato/lato-black-webfont.woff2") format("woff2"), url("assets/fonts/Lato/lato-black-webfont.woff") format("woff");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* layout */
.column-3 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-right: -10px;
  margin-left: -10px;
}

.column-3__item {
  flex-grow: 1;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.column-3__item--wide {
  width: 620px;
}

.column-4 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-right: -10px;
  margin-left: -10px;
}

.column-4__item {
  flex-grow: 1;
  width: 220px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* base-blocks */
html {
  box-sizing: border-box;
  height: 100%;

  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: inherit;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.66;
  font-family: "Lato", "Arial", sans-serif;
  color: #767e9e;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: top;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  height: inherit;
}

.page__main-header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__main-footer {
  flex-shrink: 0;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.main-header {
  position: relative;

  padding-top: 33px;
  padding-bottom: 32px;

  color: #ffffff;

  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 0 #323746;
}

.main-header__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header__main-nav {
  margin-top: 1px;
  margin-right: -1px;
}

.main-footer {
  padding: 15px 0 16px;

  background-color: #2d303a;
}

.main-footer__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-footer__copyright {
  font-size: 1.2rem;
  line-height: 1.8;
}

.primary-title {
  margin: 0;

  color: #666d89;
}

.secondary-title {
  margin: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.3;
  color: #666d89;
  letter-spacing: -0.007em;
}

.tertiary-title {
  margin: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #666d89;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;

  font-weight: 600;
  font-size: 11.25px;
  line-height: 1;
  color: red;
  text-decoration: none;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* blocks */
.main-logo {
  position: relative;

  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.main-logo__asterisk {
  position: absolute;
  top: -1px;
  right: -9px;

  color: #f06c64;
}

.main-nav__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav__item {
  position: relative;

  padding-right: 29px;
}

.main-nav__item:not(:last-child)::after {
  content: "·";
  position: absolute;
  top: calc(50% - 6px);
  right: 12px;

  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  color: #767e9e;
}

.main-nav__item--active .main-nav__link {
  color: #f06c64;
}

.main-nav__item:last-child {
  padding-right: 0;
}

.main-nav__link {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 0.3s ease-in-out;
}

.main-nav__link[href]:hover {
  color: #f06c64;
}

.main-nav__link[href]:active {
  opacity: 0.7;
}

.promo-slider {
  position: relative;

  height: 600px;
  padding-top: 53px;
  padding-bottom: 50px;
  overflow: hidden;

  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 0 #ea676b;
}

.promo-slider .container {
  position: relative;

  height: 100%;
}

.promo-slider__slides {
  height: inherit;
  margin: 0;
  padding: 0 73px 0 72px;

  list-style-type: none;
}

.promo-slider__slide {
  position: relative;
  z-index: 1;

  height: inherit;
}

.promo-slider__button {
  position: absolute;
  top: calc(50% - 19px);
  left: 13px;

  width: 16px;
  height: 27px;
  padding: 0;

  background-color: transparent;
  background-image: url("assets/img/icon-slider-arrow.png");
  background-repeat: no-repeat;
  background-position: left top;
  border: 0;
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.promo-slider__button:hover {
  transform: scale(1.2);
}

.promo-slider__button:active {
  transform: scale(1.1);
}

.promo-slider__button--right {
  right: 8px;
  left: initial;

  transform: rotate(180deg);
}

.promo-slider__button--right:hover {
  transform: rotate(180deg) scale(1.2);
}

.promo-slider__button--right:active {
  transform: rotate(180deg) scale(1.1);
}

.slide-phone {
  position: absolute;
  top: 0;
  left: 0;

  width: 240px;
  height: 483px;

  background-image: url("assets/img/bg-phone-shadow.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.slide-phone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-repeat: no-repeat;
}

.slide-phone--vertical::before {
  background-image: url("assets/img/bg-phone-screen-1.jpg"), url("assets/img/bg-phone.png");
  background-position: 14px 65px, left top;
}

.slide-phone--horizontal {
  right: 0;
  left: initial;

  transform: rotate(90deg) rotateX(180deg) translateY(-121px);
}

.slide-phone--horizontal::before {
  background-image: url("assets/img/bg-phone-screen-2.jpg"), url("assets/img/bg-phone.png");
  background-position: 14px 90px, left bottom;
  transform: rotateX(180deg);
}

.services {
  padding: 58px 0 38px;

  box-shadow: inset 0 -6px 0 0 #ffffff;
}

.services__title {
  margin-bottom: 18px;
}

.services__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

.sevrices__description {
  margin: 0;
  margin-bottom: 43px;
}

.service {
  position: relative;

  padding-left: 80px;
}

.service__title {
  margin-bottom: 7px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.service__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 67px;
  margin: 0;
  overflow: hidden;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  -webkit-line-clamp: 3;
}

.service__icon {
  position: absolute;
  top: 4px;
  left: 0;

  width: 59px;
  height: 59px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #767e9e;
  border-radius: 50%;
}

.service__icon--pencil {
  background-image: url("assets/img/icon-pencil.svg");
}

.service__icon--lamp {
  background-image: url("assets/img/icon-lamp.svg");
}

.service__icon--heart {
  background-image: url("assets/img/icon-heart.svg");
}

.service__icon--phone {
  background-image: url("assets/img/icon-phone.svg");
}

.service__icon--bubble {
  background-image: url("assets/img/icon-bubble.svg");
}

.service__icon--star {
  background-image: url("assets/img/icon-star.svg");
}

.tags {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.tags__item {
  margin-right: 10px;

  line-height: 1;
}

.tags__item--active .tags__link {
  color: #dedede;
}

.tags__item:last-child {
  margin-right: 0;
}

.tags__link {
  display: block;
  padding: 0 7px 0 6px;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.01em;

  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color 0.3s ease-in-out;
}

.tags__link[href]:hover {
  color: #dedede;
}

.tags__link[href]:active {
  opacity: 0.7;
}

.social {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item {
  margin-right: 8px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;

  color: inherit;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid currentColor;
  border-radius: 50%;

  transition: opacity 0.3s ease-in-out;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--facebook {
  background-image: url("assets/img/social/facebook.png");
}

.social__link--google {
  background-image: url("assets/img/social/google+.png");
}

.social__link--twitter {
  background-image: url("assets/img/social/twitter.png");
}

.social__link--linkedin {
  background-image: url("assets/img/social/linkedin.png");
}

.portfolio {
  padding: 59px 0 54px;

  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 0 #323746;
}

.portfolio__title {
  margin-bottom: 17px;
}

.portfolio__description {
  margin: 0;
  margin-bottom: 10px;
}

.portfolio__tags {
  margin-bottom: 19px;
}

.portfolio__works {
  max-height: 620px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;

  list-style-type: none;
}

.portfolio__work-link {
  display: block;
}

.portfolio__work-img {
  display: block;
  width: inherit;
  height: inherit;
}

.about-us {
  padding: 58px 0 43px;

  box-shadow: inset 0 -6px 0 0 #ffffff;
}

.about-us__title {
  margin-bottom: 17px;
}

.about-us__description {
  margin: 0;
  margin-bottom: 44px;

  line-height: 1.7;
  letter-spacing: 0.008em;
}

.about-us__team {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

.about-us__team-item {
  width: inherit;
}

.employee {
  display: flex;
  flex-flow: column nowrap;
}

.employee__img {
  order: -1;
  margin-bottom: 15px;
}

.employee__title {
  margin-bottom: 7px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.employee__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 0;
  margin-bottom: 24px;
  overflow: hidden;

  font-size: 1.2rem;
  line-height: 1.8;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  -webkit-line-clamp: 2;
}

.custom-input {
  width: 100%;
  padding: 6px 11px 7px;

  font-size: 1.2rem;
  line-height: 1.8;
  font-family: inherit;
  color: #f48c8f;

  background-color: #d6564f;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;

  transition: all 0.3s ease-in-out;
}

.custom-input:hover,
.custom-input:focus {
  border-color: #fa1919;
}

.custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus,
.custom-input:-webkit-autofill:active {
  border-color: #d6564f;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 30px #d6564f inset;

  -webkit-text-fill-color: #f48c8f;
}

.custom-input::placeholder {
  color: inherit;
}

.custom-input::-ms-input-placeholder {
  color: inherit;
}

.feedback-form__item {
  margin-bottom: 16px;
}

.feedback-form__item:last-child {
  margin-bottom: 0;
}

.feedback-form__textarea {
  min-height: 202px;

  resize: none;
}

.feedback-form__button {
  width: 100%;

  text-align: center;
  color: inherit;

  background-color: #fa1919;
  border-radius: 4px;

  transition: opacity 0.3s ease-in-out;
}

.feedback-form__button:hover {
  opacity: 0.7;
}

.feedback-form__button:active {
  opacity: 0.3;
}

.feedback {
  padding: 58px 0 37px;

  color: #f0d8d9;

  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 0 #ea676b;
}

.feedback__title {
  margin-bottom: 18px;

  color: inherit;
}

.feedback__description {
  margin: 0;
  margin-bottom: 42px;

  letter-spacing: 0.008em;
}

.feedback__feedback-form {
  margin-top: 2px;
}

.contacts {
  font-size: 1.2rem;
  line-height: 1.8;
}

.contacts__title {
  margin-bottom: 7px;

  color: inherit;
}

.contacts__description {
  margin: 0;
  margin-bottom: 20px;

  line-height: 1.84;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contacts__item {
  margin-bottom: 1px;
}

.contacts__item-content {
  display: inline-block;
  padding-left: 23px;

  vertical-align: top;
  color: inherit;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: left top 50%;
}

.contacts__item-content[href]:hover {
  text-decoration: underline;
}

.contacts__item-content[href]:active {
  text-decoration: none;
}

.contacts__item-content--address {
  background-image: url("assets/img/icon-location.png");
  background-position-x: 3px;
}

.contacts__item-content--phone {
  background-image: url("assets/img/icon-phone.png");
  background-position: 1px calc(50% - 1px);
}

.contacts__item-content--mail {
  background-image: url("assets/img/icon-mail.png");
}
