.column-3 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  margin-left: -10px;
  margin-right: -10px;
}

.column-3__item {
  flex-grow: 1;

  flex: 1 0 25%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;

  &--wide {
    flex-basis: 58%;
  }
}

@media (max-width: $tablet-width) {
  .column-3__item {
    flex: 1 0 30%;

    &--wide {
      flex-basis: 60%;
    }
  }
}

@media (max-width: $mobile-width) {
  .column-3__item {
    flex: 1 0 50%;

    &--wide {
      flex-basis: 60%;
    }
  }
}