.column-4 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  margin-left: -10px;
  margin-right: -10px;
}

.column-4__item {
  position: relative;
  flex: 1 0 20%;
  margin: 10px;

  &::before {
    content: '';
    padding-top: 85%;
    float: left;
  }
}

@media (max-width: $tablet-width) {
  .column-4__item {
    flex: 1 0 25%;
  }
}

@media (max-width: $mobile-width) {
  .column-4 {
    margin-left: -7px;
    margin-right: -7px;
  }

  .column-4__item {
    flex: 1 0 35%;
    margin: 6.5px 6.5px;
  }
}