.container {
  max-width: $desktop-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: $mobile-width) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}