html {
  box-sizing: border-box;
  height: 100%;
  font-size: $base-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: inherit;
  margin: 0;
  padding: 0;

  font-family: $base-font-family;
  font-size: 1.8rem;
  line-height: $base-line-height;
  font-weight: $base-font-weight;

  color: $text-color;
  background-color: $main-color;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
