.main-footer {
  padding: 13px 0 12px;
  background-color: $background-dark;
}

.main-footer__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-footer__copyright {
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 900;
}

@media (max-width: $mobile-width) {
  .main-footer {
    padding: 22px 0 22px;
  }

  .main-footer__inner {
    justify-content: center;
  }

  .main-footer__copyright {
    display: none;
  }
}
