.main-logo {
  position: relative;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: $white;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-logo__asterisk {
  position: absolute;
  top: -1px;
  right: -9px;
  color: $pink;
}

@media (max-width: $mobile-width) {
  .main-logo {
    font-size: 2rem;
  }
}