.page {
  display: flex;
  flex-flow: column nowrap;
  height: inherit;
  padding-top: $main-header-height;
}

.page__main-header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__main-footer {
  flex-shrink: 0;
}

@media (max-width: $mobile-width) {
  .page {
    padding-top: $main-header-height-mobile;
  }
}