.page {
  display: flex;
  flex-flow: column nowrap;
  height: inherit;
}

.page__main-header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
  margin-top: 95px;
}

.page__main-footer {
  flex-shrink: 0;
}
