.promo-slider {
  position: relative;
  height: 68vw;
  max-height: 695px;
  padding-top: 5.3vw;
  padding-bottom: 6.2vw;
  background-color: $pink;

  box-shadow: inset 0 -6px 0 0 #ea676b;

  //overflow: hidden;

  @include offsetForAnchor;

  &--bg-0 {
    background-color: $pink;
    box-shadow: inset 0 -6px 0 0 #ea676b;
  }

  &--bg-1 {
    background-color: $sky-blue;
    box-shadow: inset 0 -6px 0 0 #4c79ec;
  }
  
  .container {
    position: relative;
    height: 100%;
  }
}

.promo-slider__slides {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
  margin: 0 7vw;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.promo-slider__slide {
  display: none;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  height: inherit;
  z-index: 1;
  animation: 0.5s ease-in-out;

  &--three-phones {
    .slide-phone {
      left: 50%;
      opacity: 0.5;

      &--middle {
        opacity: 1;
        transform: translateX(-50%) scale(1);
        z-index: 10;
      }

      &:first-child {
        transform: translateX(-130%) scale(0.8);
      }

      &:last-child {
        transform: translateX(29%) scale(0.8);
      }
    }
  }

  &--active {
    display: block;
  }
}

.promo-slider__button {
  position: absolute;
  top: calc(50% - 14px);
  left: 40px;

  width: 16px;
  height: 27px;
  padding: 0;
  border: 0;
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("../assets/img/icon-slider-arrow.png");

  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  z-index: 5;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1.1);
  }

  &--right {
    left: initial;
    right: 40px;
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.2);
    }

    &:active {
      transform: rotate(180deg) scale(1.1);
    }
  }
}


@keyframes left {
  from { right: 0; }
  to { right: -100%; }
}

@keyframes right {
  from { right: 100%; }
  to { right: 0; }
}

.next {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@media (max-width: $tablet-width) {
  .promo-slider {
    height: 71.2vw;
  }

  .promo-slider__slides {
    margin: 0 6vw;
  }

  .promo-slider__button {
    &--left {
      left: 30px;
    }

    &--right {
      right: 30px;
    }
  }
}

@media (max-width: $mobile-width) {
  .promo-slider {
    height: 77.6vw;

    @include offsetForAnchorMobile;

    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .promo-slider__slides {
    margin: 0;
  }

  .promo-slider__button {
    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }
}