.tags {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags__item {
  margin-right: 10px;
  line-height: 1;

  &:last-child {
    margin-right: 0;
  }
}

.tags__button {
  display: block;
  padding: 0 7px 0 6px;
  border: 1px solid currentColor;
  border-radius: 4px;

  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  &:not(:disabled):hover {
    color: $tags-link-color-active;
  }

  &:not(:disabled):active {
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
  }

  &--active {
    color: $tags-link-color-active;
  }
}
