/* Viewport */
$mobile-width: 320px;
$tablet-width: 760px;
$desktop-width: 1440px;

/* Typography */
$base-font-family: "Lato", "Arial", sans-serif;
$base-font-size: 10px;
$base-line-height: 1.66; /* 30px */
$base-font-weight: 300;

/* Colors */
$background-dark: #2d303a;
$head-color-dark: #666d89;

$main-color: #f2f2f2;
$text-color: #767e9e;
$white: #ffffff;
$pink: #f06c64;
$sky-blue: #648BF0;

$tags-link-color-active: #dedede;

$feedback-text-color: #f0d8d9;

$feedback-button-color: #fa1919;

$custom-input-text-color: #f48c8f;
$custom-input-bg-color: #d6564f;

/* Other */
$retina-dppx: 1.5dppx;
